<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>GrandPy</title>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
         
    </head>

    <body>    
        <div class="container-fluid header">
            <div class="mx-auto" style="width: 887.5px;">
                    <h1 class="display-4"> <p class="text-info">🤖 Demander l'adresse au GrandPy 👴</p></h1>
            </div>
        </div>

        <div class="container-fluid">
        <br><br>
        <label for="question" class="qetq">Quelle est ta question, mon poussin ?</label>
        <input type="text" id="question">
        <button type="submit" id="btn">Envoyer</button>
        <br><br>

        <div id="display_conversation"></div>
        <br>
        <h4>GOOGLE MAP</h4>
        <div id="map" style="width:100%;height:400px;"></div>
        <script src="../static/js/ajax.js"></script>
        <script src="../static/js//map.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1YKYO73lEKwBEShSb7Fty-37CC2pAJKs&libraries=places&language=fr&region=FR"></script>
        <br><br>
        <footer class="fixed-bottom">
            <div class="container-fluid footer">
                <p class="white"> Olena ANDROSOVYCH      <a href="https://github.com/OlenaChe" target="_blank">Mon GitHub</a> 
                </p>
            </div>    
    </body>
</html>


